.InputfieldWidgetsAddLink{
  display: block;
  margin : 1rem 0rem;
}

.InputfieldWidget textarea{
  display : none;
}

.InputfieldWidgetHeader .postfix{
  font-size: 0.85em;
}

.InputfieldWidgetHeader .fa-spin.fa-spinner {
  margin-left: 1rem;
}

.InputfieldWidgetsItem{
  margin-bottom : 1rem;
}

.InputfieldWidgetDelete{
  float : right;
}

.WrapCustomCssEditorFields{
  display : none;
  margin : 0px;
  padding : 0px;
  list-style : none;
}

.InputfieldWidget .CustomCssEditorFields textarea{
  display : block;
  font-family: Menlo, Monaco, 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
  font-size: 13px;
  line-height: 15px;
  color : #555;
}

.InputfieldWidget .InputfieldHeader .fa-cube{
  display: block;
  float: left;
  margin: 4px 8px 0px 0px;
}

.InputfieldWidget .InputfieldHeader .fa-trash{
  display: block;
  margin: 4px 12px 0px 0px;
  float : right;
}

.InputfieldWidget .InputfieldHeader .InputfieldWidgetDragZone{
  display: block;
  float: left;
  height: 2rem;
}

.InputfieldWidget .InputfieldHeader .InputfieldWidgetDragZone:hover{
  cursor : move;
}

.InputfieldWidget .InputfieldHeader .InputfieldWidgetHeaderId{
  color : #999;
  font-size: 0.8em;
}

.Inputfield.InputfieldWidget.ui-sortable-helper{
   -moz-box-shadow:     0px 0px 16px 0 #000;
   -webkit-box-shadow:  0px 0px 16px 0 #000;
   box-shadow:          0px 0px 16px 0 #000;
}

.InputfieldWidget .InputfieldBreakpoints .asmListSortable .asmListItemRemove i{
  color : #fff;
}

.InputfieldBreakpoints .BreakpointSortWrapper{
  text-align: center;
  width: 34px;
}

.InputfieldBreakpoints .BreakpointSortWrapper:hover{
  cursor : move;
}

.InputfieldBreakpoints table tbody .ui-sortable-helper{
  display: table;
}

#wrap_Inputfield_widgets_clone_template input{
  display : none;
}

.InputfieldWidgetLink .message{
  display : none;
}