.InputfieldWidgetsAddLink{
  display: block;
  margin : 1rem 0rem;
}

.InputfieldWidget textarea{
  display : none;
}

.InputfieldWidgetHeader .postfix{
  font-size: 0.85em;
}

.InputfieldWidgetHeader .fa-spin.fa-spinner {
  margin-left: 1rem;
}

.InputfieldWidgetsItem{
  margin-bottom : 1rem;
}

.InputfieldWidgetDelete{
  float : right;
}