.<?= $prefix ?>{
  display: inline-block; 
  width : 100%;
  padding : 0;
  float : left;
}

.<?= $prefix ?>, .<?= $prefix ?> *{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

.<?= $prefix ?>-inner{
  display: block;
  width: 100%;
}

.WidgetContainer{
  float : none;
}

.WidgetContainer:after{
	content: " ";
  display: block;
  clear: both;
}